.bouton{
    border-radius: 100%;
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    opacity: .2;
    border: none;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer; 
  
  }
  
  .bouton:hover {
   
    opacity: .5; }


      .boutonDiv{
        margin: 90px 0 61px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px; 
      }
.selected {
  background-color: white;
  opacity: 1;
}
.texte-container{
  h4{

    margin-top: 1rem;
  }
    min-height: 80%;
    margin-top: 2rem;

}



#containerAll img{
  margin-bottom: 0;
  max-width: 100%;
  justify-self: end;
 



}





@media screen and (max-width: 800px){
  .containerCrew{
    flex-direction: column-reverse !important;
  }
  .boutonDiv{
    margin: 1rem 0 1rem 0;
    
  }
  #containerAll{
  
 
    border-bottom: solid 1px#d0d6f9;
 margin-bottom: 0;


     height: 20rem;
  }
  #containerAll img{
    margin-bottom: 0;
    max-width: 100%;
 height: auto;


  }
}

