@import url('./styles/sass/styles.css');

.bg-home {
  background-image: url("./images/home/background-home-desktop.jpg");
  
 
}
.bg-destination {
  background-image: url("./images/destination/background-destination-desktop.jpg");

}
.bg-crew {
  background-image: url("./images/crew/background-crew-desktop.jpg");
  
}
.bg-tekno {
  background-image: url("./images/technology/background-technology-desktop.jpg");

 
 
}



.explore {
  width: 274px;
  height: 274px;
  left: 1001px;
  top: 495px;
  background-color: azure;
}
#explore {
  color: black;
}


.destination div div {
  margin-left: 2rem;
}

.destination {
  width: 100%;
}
.navbar h6{
  cursor: pointer;
}
.destination__select {
  display: inline-block;
}
.destination__select::after {
  content: "";
  margin-top: 12px;
  display: block;
  width: 0;
  height: 3px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.destination__select:hover::after {
  width: 100%;
}

.nav-text--active {
  border-color: #ffffff;
  border-bottom: solid;
  padding-bottom: 12px;
}
#picture{

left: 230px;
top: 343px;

}
#row{
flex-wrap: nowrap;
}


/* ********tekno***** */


.menu{
  width: 50%;
}