body {
  font-family: Bellefair;
  color: white;
}
h1 {
  font-size: 150px;
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
  letter-spacing: 4, 75px;
}
p {
  font-size: 18px;
  letter-spacing: 2.7px;
}

.bg-home {
  background-image: url("./images/home/background-home-desktop.jpg");
  height: 50rem;
  background-repeat: no-repeat;
}
.bg-destination {
  background-image: url("./images/destination/background-destination-desktop.jpg");
 padding:5rem;
  /* height: 400rem; */
  /* position: absolute; */
  /* width: 1440px;
height: 900px;
left: 0px;
top: 0px; */
  position: fixed;
  top: 0;
  left: 0;
  /* Préserve le ratio de l'image */
  min-width: 100%;
  min-height: 100%;
}
.bg-crew {
  background-image: url("./images/crew/background-crew-desktop.jpg");
  height: 400rem;
}
.bg-tekno {
  background-image: url("./images/technology/background-technology-desktop.jpg");
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
  /* max-width: 100%; */
 
 
}
#navbarHome {
  /* position: absolute; */
  width: 80%;
  height: 96px;
  left: 16rem;
  top: 40px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  margin-bottom: 5rem;
  border: #61dafb 1px solid;
}
.container {
  display: flex;

  align-items: center;
  justify-content: center;
  border: #61dafb solid 1px;
  height: 600px;
  flex-wrap: wrap;
}
.home-container {
  width: 50%;
  height: 400px;
  /* background-color: red; */
}
.explore-container {
  width: 50%;
  height: 400px;
  /* background-color: rgb(172, 138, 138); */
}
.explore {
  width: 274px;
  height: 274px;
  left: 1001px;
  top: 495px;
  background-color: azure;
}
#explore {
  color: black;
}

.text-navbar div {
  padding: 10px;
  margin: 10px;
}
.text-navbar div p {
  text-decoration: none;
  color: white;
}
.logo {
  /* align-self: start; */
  justify-self: flex-start;
}
.destination div div {
  margin-left: 2rem;
}
.container-planet {
  width: 50%;
  border: #61dafb solid 1px;
}
.destination {
  width: 100%;
}
.destination__select {
  display: inline-block;
}
.destination__select::after {
  content: "";
  margin-top: 12px;
  display: block;
  width: 0;
  height: 3px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.destination__select:hover::after {
  width: 100%;
}

.nav-text--active {
  border-color: #ffffff;
  border-bottom: solid;
  padding-bottom: 12px;
}
#picture{
  width: 445px;
height: 445px;
left: 230px;
top: 343px;

}
#row{
flex-wrap: nowrap;
}


/* ********tekno***** */
.container-tekno{
  width: 50%;
  
}
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.menu{
  width: 50%;
}